@model TestApplication1.Controllers.HomeController.Store
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.StoreName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" value="Create" />
}
<hr />
<div id="partialView">
    @Html.Partial("BuyItem2") @*不进入action*@ @*Html.RenderPartial("PartialAdd");*@
    @*@Html.Action("BuyItem2", "Home", new { Id = 1 });*@ @*进入action*@

</div>

@*<div id="appleController" onload="loadController(this, @Html.Raw(Url.Action("Index", "Apple", new {id = 	UrlParameter.Optional})))">

    </div>*@
