@model TestApplication1.Controllers.HomeController.CedulaAppViewModel
@{
    ViewBag.Title = "validation_modalpopup";
}
<div class="col-lg-offset-4 col-lg-12">
    @using (Html.BeginForm("validation_modalpopup", "Home", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new {@style= "display: block;" } })
                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MiddleInitial, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.MiddleInitial, new { htmlAttributes = new {  placeholder = @Html.DisplayNameFor(m => m.MiddleInitial) } })
                @Html.ValidationMessageFor(model => model.MiddleInitial, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new {  placeholder = @Html.DisplayNameFor(m => m.Surname) } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" id="validate" class="btn btn-primary" data-toggle="modal" data-target="#login-modal" data-backdrop="static" data-keyboard="false">Print</button>
                @*<button type="button" id="validate" class="btn btn-primary" data-toggle="modal" data-target="#login-modal" data-backdrop="static" data-keyboard="false">Print</button>*@

            </div>
        </div>
    }
</div>

<div id="modals" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Submit
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            </div>

            <div class="modal-body">
                @*@Html.Partial("CedulaPartial")*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script> @*//要加*@
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script> @*//要加*@
    <script type="text/javascript">
        //$(function () {
        //    $('form').validate();

        //})
        //$('#validate').click(function () {
        //    $('form').validate();

        //    if ($('form').valid()) {
        //        $('#modals').modal('show')
        //        //confirm('Verify correctly');
        //    }
        //});

        $('form').submit(function () {

            if ($(this).valid()) {
                $('#modals').show();
                return false;
            }
        });
    </script>
}