@model IEnumerable<TestApplication1.Models.AuthorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
            @Html.ActionLink("Create New", "Create")
        </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {

        if (@item.Name == "au2")
        {
            <tr style="background-color:red;">
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else
        {
            <tr style="background-color:blue;">
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                }
            </tr>

        }
    }

        </table>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>



    <a href="@Url.Action("Create", "AuthorModels")" target="_blank">Click me</a>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Books[0].id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Books[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Books[0].PublishedDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {


        foreach (var book in item.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.PublishedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

    </table>*@

