<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/kendo/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li><a class="dropdown-item" href="@Url.Action("Index","Home")">Action</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    @*<div class="container body-content" style="height: 30px;">
        <select class="text" typeof="text" name="select1" id="select1">
            <option value="">Select User1</option>
            <option value="AA">AA</option>
            <option value="BB">BB</option>
        </select>
        <select class="text" typeof="text" name="select2" id="select2">
            <option value="">Select User2</option>
            <option value="AA">AA</option>
            <option value="BB">BB</option>
        </select>
        <br />*@
    @*@Html.DropDownList("Users", null, "Select User2", new { @class = "dropdown" })*@


    @*</div>*@
    <div class="container body-content" style="height: 30px;margin-bottom: 10px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
