@model IEnumerable<WebApplication1.Controllers.HomeController.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee List</title>
    @*<link href="~/Content/themes/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>*@
    @*<style>
        span.field-validation-error {
            color: red;
        }
    </style>*@

</head>
<body>
    @*<div>
            @Html.Partial("_ViewEmployee", new WebApplication1.Controllers.HomeController.Employee())


        </div>*@

    @*<div id="saveDiv">
            @{ Html.RenderAction("_ViewEmployee", new { ID = ViewBag.XX}); }
        </div>*@

    <div id="divPartialView">
        @*@Html.Partial("_ViewEmployee", new WebApplication1.Controllers.HomeController.Employee())*@
        @{ Html.RenderAction("_ViewEmployee"); }
        @*@{Html.RenderPartial("_ViewEmployee", new MVCApplication.Models.Employee());}*@
    </div>

    <div id="partial">

    </div>
    <table class="table" id="ProductGrid">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Actions
            </th>
        </tr>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        <a href="" onclick="doEdit(@item.EmployeeID)"> Edit </a>
                        |
                        <a href="@Url.Action("DeleteEmployee", "Home", new { id = item.EmployeeID })" onclick="return confirm('Are you sure?');"> Delete </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">
                    Sorry No Data found
                </td>
            </tr>
        }
    </table>

</body>
</html>

<script>
    
    function doEdit(obj) {
        @*//$.ajax({
        //    url: '/Home/GetEmployeebyID',
        //    async: false,
        //    dataType: "json",
        //    data: { ID: obj },
        //    success: function (data) {

        //        $("#result").load("/Emp/GetEmployeebyID",
        //            { ID: id });
        //    },
        //    error: function (xhr, status, error) {
        //        alert(error);
        //    }

        //});

        var ID = obj;
                //var desigId = $('#DesigSearch').val();
                $('#saveDiv').hide();

                var url = "@Html.Raw(Url.Action("_ViewEmployee", "Home", new { ID = "sempar" }))";
        url = url.replace("sempar", ID);
        $('#partial').load(url);
        //$('#partial').show();*@
        var ID = obj;
          $.ajax({
                type: "POST",
                url: "@Url.Action("GetEmployeebyID", "Home")",
              data: { ID: ID },
                dataType: 'html',
                success: function (data) {
                    alert(data);
                    $('#divPartialView').html(data);
                    //return false;
                }

            });


        }
</script>