@*@model WebApplication1.Models.Blog*@
@model IEnumerable<WebApplication1.Models.Blog>
@*@using WebApplication1.Models*@
@{
    ViewBag.Title = "Index";
    var au = ViewBag.auth;//另一个model
    var lab = ViewBag.label;
    var count = 0;
}
<style type="text/css">
    .espcial {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 58px;
    }
</style>
@Html.Display("xx", "cxxx", "123")
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@{ var itm= (item.BlogId == 1 ? 5 : 6)}*@
                @*@Html.Display("xx", "cxxx")*@
                @*@(item.BlogId2? "Vieo" : "")*@
                @Html.DisplayFor(modelItem => item.strBlogId)
                @*@Html.DisplayFor(modelItem => item.BlogId.Equals("1") ? "" : "")*@
                @*@Html.LabelFor(modelItem => item.BlogId)
                    <label>@(item.BlogId == 1 ? "Vieo" : "")</label>*@
            </td>
            <td class="espcial">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
            </td>
        </tr>
    }

</table>

<h2>Index</h2>


<input class="customerInput" id="customerInput1" type="button" value="customerInput1">
<input class="customerInput" id="customerInput2" type="button" value="customerInput2">

<input class="aa" id="aa" type="button" value="aa">
<input class="bb" id="bb" type="button" value="bb">
    </br>
@Html.TextBox("111")
@Html.TextBox("txtTitle", (string)ViewBag.Title)
@foreach (var item in Model)
{
    <input class="customerInput" id="customerInput2" type="button" value="@item.Name">

}
<br />
    ###########################
@foreach (var item in ViewBag.auth)
{
    @*<input class="customerInput" id="customerInput2" type="text" value="@item.AuthorName">*@
    <div> @item.AuthorName </div>
    <br />

}
    ###########################
@foreach (var item in ViewBag.auth2)
{
    @*<input class="customerInput" id="customerInput2" type="button" value="@item">*@
    <div> @item </div>
    <br />

}
    ###########################
@foreach (var item in ViewBag.auth3)
{
    @*<input class="customerInput" id="customerInput2" type="button" value="@item">*@
    <div> @item </div>
    <br />

}
<br />
    ###########################

@{
    Layout = null;
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">tab1</a></li>
        <li><a href="#tabs-2">tab2</a></li>
        <li><a href="#tabs-3">tab3</a></li>
    </ul>
    <div id="tabs-1">
        <p>tab1</p>
    </div>
    <div id="tabs-2">
        <p>tab2</p>
    </div>
    <div id="tabs-3">
        <p>tab3</p>
    </div>
</div>
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<h2>PassTable</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Number</td>
        </tr>
        @for (int i = 0; i < 3; i++)
        {
            <tr>
                <td>@Html.TextBox(i.ToString(), null, new { @Name = "Number[" + i + "]" })</td>

            </tr>
        }
    </table>
    <input type="submit" />
}

    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br />
<table>
    @foreach (var item in Model)
    {

        <tr><td>@Html.ActionLink("GetData2", "Home", new { id = item.BlogId })</td></tr>
        @*@Html.DisplayFor(modelItem => item.Name)
            <br />
            @Html.LabelFor(modelItem => item.Name)
            <br />
            @Html.LabelFor(modelItem => item.Name, "BlogName")
            <br />*@

    }
</table>
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br />

    @foreach (var item in Model)
    {
        <div class="divdemo">
            <div class="divinput" style="display:inline">
                @Html.EditorFor(modelItem => item.BlogId)
                @Html.EditorFor(modelItem => item.Name)


            </div>
            <div class="divbutton" style="display:inline">
                <input id="Add1" type="button" value="Add new" class="addclass" />
                <input id="Delete1" type="button" value="Delete" />
               
            </div>
            <br />
        </div>
    }



<br />
<br />
<br />
<br />
<br />

@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#tabs").tabs();
        })
    </script>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/JavaScript">
    //$(function () {
    //    alert(111);

    //});
    var btnx = 0;
    $("body").delegate(".addclass", "click", function () {
        btnx++;
        var html = $(".divdemo").html();
        $(".divbutton").hide();
        $(".divdemo").last().append("<div class=\"divdemo\">" + html + "</div>");
        $(".divbutton").last().css("display", "inline")

    })

    $(".customerInput").click(function () {
        //$(":not(.customerInput)").attr('disabled', true)
        $(":not(.customerInput)").attr('disabled', true)
        $("#txtTitle").val("222");
        //$("input[type='text']").not(".customerInput").attr("disabled", "disabled");

    })

</script>


