
@{
    ViewBag.Title = "Unobtrusive";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="col-sm-12  well" id="criteria2">

        @using (Ajax.BeginForm("MyMap", "Homes",new AjaxOptions { HttpMethod = "GET", OnFailure = "failureValidation" },new { @method = "get" }))
        {
            <div id="divInterestDetails2" class="form-horizontal mini" style="margin-bottom: 0px;">
                <fieldset>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location</label>
                        <div class="col-sm-9">
                            <input type="text" id="txtPlaces" class="form-control mytxtPlaces" placeholder="Where do you want to live?" value="11" />
                            @*<input type="text" class="form-control" placeholder="Where do you want to live?">*@
                            @*@Html.Hidden("frmDesiredPlace", value: @Model.frmDesiredPlace)
                                @Html.Hidden("frmPlacesLng", value: @Model.frmPlacesLng)
                                @Html.Hidden("frmPlacesLat", value: @Model.frmPlacesLat)*@
                            1111111
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-2 pull-right" style="margin-top: 10px;">
                            <button class="btn btn-primary pull-right" type="submit">Search</button>
                        </div>
                    </div>


                </fieldset>
            </div>
        }
    </div>
</body>
</html>
<script>
    function failureValidation() { alert(111);}
</script>


