@model WebApplication1.Models.Label
<style>
    span .field-validation-error {
        border-color: red;
    }
</style>
@using (Html.BeginForm("validate2", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    //与ListBoxFor相冲突
    @*@Html.EditorFor(model => model.LabelId, new { htmlAttributes = new { @Class = "AAA" } })
        @Html.ValidationMessageFor(model => model.LabelId)
        @Html.EditorFor(model => model.LabelName)
        @Html.ValidationMessageFor(model => model.LabelName)



        @Html.TextAreaFor(model => model.LabelId, new { htmlAttributes = new { @class = "form-control", @name = "Name" } })
        @Html.ValidationMessageFor(model => model.LabelId)*@
    //与ListBoxFor相冲突
    <br />
    <input type="submit" value="Save" id="btnSave">
    @*<input type="button" value="Create" id="validate" class="btn btn-default"/>*@

    <div class="form-group">
        <label class="control-label col-md-2">3333333</label>
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.ProdottiIds, Model.ListaProdotti, new { @class = "form-control chosen-select" })
            @Html.ValidationMessageFor(model => model.ProdottiIds, "", new { @class = "text-danger" })
        </div>
    </div>

  <p>2222</p>
    @Html.ListBoxFor(model => model.ogrenciler, (IEnumerable<SelectListItem>)ViewBag.OgrenciLIST, new { htmlAttributes = new { @class = "form-control" } })
<input type="submit" value="submit"/>
}

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var textBox = "<div class='form-group'><label>Other  Name</label><input id='LabelId' name='LabelId' type='text' value='' class='form-control'/></div>";
            @*textBox +=@Html.Raw("Html.ValidationMessageFor(model => model.LeaveDurationDays })");*@
            textBox += '@Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.LabelId,"", new { @class = "text-danger" }).ToHtmlString()))';
            $("form").append(textBox);
        })
        //$('#validate').click(function () {
        //    $('form').validate();

        //    if ($('form').valid()) {
        //        //trigger modal
        //    }
        //});
        $(function () {
            $(".AAA").rules("add", {
                required: true,
                minlength: 8,
                messages: {
                    required: "Required input",
                    minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
                }
            });
        });

        @*$("#LabelId").on("focusout", ".firstinput", function () {

                  thistr = $(this).parents('tr').get(0);
                  textboxs = $(thistr).find('input[type="text"]');
                  secondtextbox = textboxs[1];
                  thirdtextbox = textboxs[2];
                $.getJSON("@Url.Action("GetIndex2")", { firstinput: $(this).val() }).done(function (data) {
                    $(secondtextbox).val(data.price);
                    $(thirdtextbox).val(data.discount);
                })

            });
        $(".AAA").focusout(function () {
            var $me = $(this);
            $me.attr('data-val-range-min',"8");
            $me.attr('data-val-range-max',"11");

        });*@

    </script>

}
