@model  List<TestApplication1.Controllers.Home2Controller.StdAcademicQualifModel>
@{
    ViewBag.Title = "ConfirmEditStdQualif";
}

<h2>ConfirmEditStdQualif</h2>


@foreach (var item in Model)
{
    <tr>
    <td>
        <a href="#" class="btn btn-sm btn-primary no-radius actEdit">
            <i class="ace-icon fa fa-pencil-square-o bigger-230 "></i>
        </a>
        <a href="#" class="btn btn-sm btn-danger no-radius actDelete">
            <i class="ace-icon fa fa-trash-o bigger-230"></i>
        </a>
        <a href="#" class="btn btn-sm btn-success no-radius actSave" @*style="display: none;"*@>
            <i class="ace-icon fa fa-save bigger-230 "></i>
        </a>
        <a href="#" class="btn btn-sm btn-grey no-radius actCancel" style="display: none;">
            <i class="ace-icon fa fa-close bigger-230"></i>
        </a>
    </td>
    <td>
        <div>
            <input type="text" name="ProgramName" class="form-control actProgramName actUpdate" disabled value="@item.ProgramName" data-prev="@item.ProgramName" />
        </div>
    </td>
    <td>
        <div>
            <input type="text" name="Subject" class="form-control actSubject actUpdate" disabled value="@item.Subject" data-prev="@item.Subject" />
        </div>
    </td>
    <td>
        <div>
            <input type="text" name="YOP" class="form-control actYOP actUpdate" disabled value="@item.YOP" data-prev="@item.YOP" />
        </div>
    </td>
    <td>
        <div>
            <input type="text" name="Marks" class="form-control actMarks actUpdate" disabled value="@item.Mark" data-prev="@item.Mark" />
        </div>
    </td>

    <input type="hidden" value="@item.Std_ref_id" id="StdId" />
    <input type="hidden" value="@item.Program_ref_id" id="Program_ref_id" />
    <input type="hidden" value="@item.ID" id="Id" />

    </tr>

}
@section scripts{
    <script>

    $(".actSave").on("click", function () {
        var $save = $(this);
        $tr = $save.closest('tr');

        var StdId = $('#StdId').val();
        var Id = $('#Id').val();
        var Program_ref_id = $('#Program_ref_id').val();
        Subject = $tr.find('.actSubject');
        YOP = $tr.find('.actYOP');
        Marks = $tr.find('.actMarks');
        debugger;
        var StdAcademicQualifModel = {
            "Std_ref_id": StdId,
            "ID": Id,
            "Program_ref_id": Program_ref_id,
            "Subject": Subject,
            //"UniversityBoard": "",
            "YOP": YOP,
            "Marks": Marks,
        };
        $.ajax({
            url: '@Url.Action("ConfirmEditStdQualif", "Home2")',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(StdAcademicQualifModel),
            type: 'POST',
            async: false,
            success: function (data) {

                Subject.attr('disabled', 'disabled');
                YOP.attr('disabled', 'disabled');
                Marks.attr('disabled', 'disabled');


                var $edit = $tr.find('.actEdit');
                var $save = $tr.find('.actSave');
                var $cancel = $tr.find('.actCancel');
                var $delete = $tr.find('.actDelete');

                $edit.show();
                $cancel.hide();
                $save.hide();
                $delete.show();
            },
            error: function () {
                //alert("No Record Found");
                console.log("Error", data);
            }
        });
    </script>
}