
@{
    ViewBag.Title = "OutputCache1";

    var tempDataUserPersist = TempData["User"];
    TempData.Keep("User");
}
<h2>OutputCache1</h2>
@ViewBag.CurrentTime
<span id="aa"></span>

<span id="Knob1"></span>
<span id="Knob2"></span>
<span id="Knob3"></span>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@section scripts{
    <script>

    $(function () {
        var row = $("<a title=Edit href='@Url.Action("OutputCache2", "Home2", new { id ="33" })'>Edit</a>");
        $("#aa").append(row);


    })

        @*setInterval(function () {  //https://forums.asp.net/t/2149730.aspx
        var x =  @TestApplication1.Controllers.Home2Controller.Globals.Variable1
        var y = @TestApplication1.Controllers.Home2Controller.Globals.Variable2;
        var z = @TestApplication1.Controllers.Home2Controller.Globals.Variable3;
        $("#Knob1").append(y);
        $("#Knob2").append(z);
        $("#Knob3").append(x);
    },5000);*@
    </script>
}
