@model WebApplication1.Controllers.AuthorsController.UserSignUpView

@{
    /**/

    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*if (ViewBag.Interests2 == null)
    {
        foreach (var interest in ViewBag.Interests)
        {
            <input type="checkbox" name="SelectedInterests" value="@interest.AuthorName" class="checkbox-inline" />
        }
    }
    else
    {

        foreach (var interest in ViewBag.Interests)
        {
            foreach (var item in ViewBag.Interests2)
            {
                if (item == interest.AuthorName)
                {
                    <input type="checkbox" name="SelectedInterests" value="@interest.AuthorName" class="checkbox-inline" checked />
                    ViewBag.Interests2.Remove(1);
                    break;
                }
                else
                {
                    <input type="checkbox" name="SelectedInterests" value="@interest.AuthorName" class="checkbox-inline" />
                        break;
            
                }
            }
        }

    }*@

    foreach (var interest in ViewBag.Interests)
    {
        if (interest.ischeck == true)
        {
            <input type="checkbox" name="SelectedInterests" value="@interest.AuthorName" class="checkbox-inline" che/>
        }
        else
        {
            <input type="checkbox" name="SelectedInterests" value="@interest.AuthorName" class="checkbox-inline" />
        }

    }


    <div class="form-horizontal">
        <h4>Author</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
